.login {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__button {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 0.5rem 0;
      width: 100%;
    }

    &__button:hover {
      background-color: #121041;
    }
  }

  &__google__button {
    font-size: 1.1rem;
    font-weight: 700;
    gap: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
  
    i {
      font-size: 1.5rem;
    }
  }
  
  &__google__button:hover {
    background-color: rgba(250, 75, 75);
  }
}

.or {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;

  &__line {
    height: 1px;
    background-color: black;
    grid-column: span 2 / span 2;
  }
}