.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: #0b0a29;
  color: #fff;
}

.primary1 {
  background-color: white;
  color: #0b0a29;
}

.secondary {
  background-color: rgb(255, 47, 47);
  color: #fff;
}

.secondary1 {
  background-color: #efef00;
  color: #6c6c6c;
}
